[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "colors/vividchalk"]
	path = colors/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
